<%= form_with model: review,
              url: appointment_review_path(review.appointment),
              method: :post,
              class: "col-span-12 inner-grid" do |form| %>

  <% if review.errors.any? %>
    <div class="col-span-12 form-errors">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-span-12">
    <%= form.label :note %>
  </div>

  <div class="col-span-12">
    <%= form.text_area :note %>
  </div>

  <div class="col-span-12">
    <%= form.label :rating %>
  </div>

  <div class="col-span-12">
    <%= form.select :rating, (1..5), { include_blank: true } %>
  </div>

  <div class="col-span-12">
    <%= form.submit class: "button mt-2 text-center" %>
  </div>
<% end %>
