<!DOCTYPE html>
<html>
  <head>
    <title>Stepful Coaching Calendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-zinc-200 bg-sky-700">
    <main class="container mx-auto mt-28 px-5 inner-grid">
      <div class="col-span-12 border-b pb-5 mb-5 inner-grid">
        <%= render partial: "/layouts/header" %>
      </div>

      <div class="col-span-12 inner-grid">
        <%= yield %>
      </div>

      <div class="col-span-12 border-t pb-5 mt-5 inner-grid">
        <%= render partial: "/layouts/footer" %>
      </div>
    </main>
  </body>
</html>
